.showContainer{
    position: relative;
    height: 980px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 50px;
    color: white;
}
.formContainer{
 position: fixed;
 z-index: 2;
 height: 100%;
 width: 100vw;
 top: 0;
 left: 0;
 background-color: rgba(0, 0, 0, 0.581);
 display: flex;
 justify-content: center;
 align-items: center;
}
.form{
    height: 80%;
    width: 65%;
    border-radius: 26px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageCont{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 600;
    width: 50%;
    background-color: red;
    border-radius: 25px 0px 0px 25px ;
}
.invisible{
    display: hidden;
    height: 0;
    width: 0;
    transform: scale(0);
}
.formBox{
    height: 100%;
    width: 50%;
    background-color: rgb(29, 27, 27);
    border-radius: 0px 25px 25px 0px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cancel{
    position: relative;
    top: -35%;
    left: 65%;
    border: none;
    height: 20px;
    background-color: black;
    width: 20px;
    border-radius: 10px;
}
.formBox form{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
    flex-direction: column;
}
.formHead{
    height: 20%;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formInput{
    height: 8%;
    width: 100%;
    border: none;
    border-radius: 25px;
    padding-left: 15px;
    color: white;
    display: flex;
    justify-content: center;
    background-color: rgb(58, 58, 58);
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.formInput:focus{
    outline: none;
}
label{
   width: 100%;
   display: flex;
   justify-content: start;
}
.formButton{
    height: 40px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 15px;
    border: none;
}
.imageContainer{
    height: 70%;
    width: 40%;
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}
.image{
    width: 80%;
}
.details{
    height: 70%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}
.showHead{
    height: 20%;
    font-size: 4rem;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 5px solid red;
    font-weight: 600;
    width: 60%;
}
.showExtras{
    height: 10%;
    width: 100%;
    font-weight: 600;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.showRat{
    height: 40%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.description{
    height: 40%;
    width: 80%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.book{
    height: 6%;
    width: 20%;
    display: flex;
    background-color: red;
    justify-content: center;
   
    align-items: center;
    border-radius: 20px;
    gap: 20px;  
}
.bookButton{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    justify-content: center;
    border: none;
    color: white;
    letter-spacing: 0.05rem;
    font-weight: 600;
    align-items: center;
    transition: 0.12s all linear;
}
.bookButton:hover{
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);
    color: black;
}

@media screen and (max-width:600px) {
    .showContainer{
        top: 50px;
        flex-direction: column;
        gap: 50px;
        height: 1100px;
    }
    .formContainer{
        background-color: rgb(0, 0, 0);
    }
    .cancel{
        top: -25%;
    }
    .form{
        width: 90%;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0);
    }
    .imageCont{
        width: 100%;
        border-radius: 25px 25px 0px 0px;
    }
    .formBox{
        width: 100%;
        border-radius: 0 0 25px 25px;
    }
    .imageCont{
        font-size: 3rem;
    }
    .formInput{
        height: 30px;
    }
    .imageContainer{
        width: 90%;
    }
    .details{
        width: 90%;
    }
    .showHead{
        font-size: 2rem;
        width: 100%;
    }
    .showExtras{
        height: 15%;
        justify-content: center;
    }
    .description{
        height: 80%;
        text-align: justify;
        width: 100%;
    }
    .book{
        height: 25%;
        background-color: rgba(255, 255, 255, 0);
        width: 100%;
    }
    .bookButton{
        height: 55%;
        width: 40%;
        background-color: red;
    }
}